.header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 282px;
  max-width: 1340px;
  min-height: 293px;
  margin-top: 32px;
  margin-left: 51px;
  margin-right: 51px;
}

.header_menu {
  display: grid;
  grid-template-columns: 3fr 2.5fr 1fr;
  place-content: center space-between;
  max-width: 1340px;
  
}


.header__links-list {
  width: 240px;
  color: #000;
  font-family: Raleway, sans-serif;
  font-weight: 400;
  font-size: 18px;
  font-style: normal;
  line-height: normal;

}

.header__links__list {
  margin-top: 10px;
  list-style: none;
  width: 300px;

}

.header__links-list-line {
  display: flex;
  justify-content: left;
  gap: 25px;
  margin-top: 50px;
  text-align: center;
  padding-left: 51px;


}



.header-link_bullit {
  list-style: circle;
}
.header-link_no-bullit{
  display: list-item;
  text-align: center;
  text-decoration: none;
}

.header__links-list-item-line {
  display: list-item;
  text-align: center;
  list-style-type: circle;

}

.header__links-list-item-line:first-child {
  
  list-style-type: none;

}


.header__logo-image {
  flex-shrink: 0;
  width: 148px;
  height: 105px;


}

.main {
  max-width: 1340px;
  margin-left: 51px;
}

.cover {
  position: relative;
  color: aliceblue;
  background-image: url("../images/cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}

.overlay {
  position: absolute;
  z-index: 0;
  width: 100%;
  height: 100%;
  opacity: 0.6;
  background: black;
}

.cover__title {
  position: relative;
  z-index: 1;
  margin-bottom: 130px;
  padding: 165px 50px 50px 50px;
  font-weight: 700;
  font-size: 100px;
  text-transform: uppercase;
}

.aligned-text {
  margin-top: 0;
  display: block;
  margin-top: 20px;
  line-height: 1;

}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  letter-spacing: 35px;
}

.no-letter-spacing {
  letter-spacing: 20px;

}

.cover__description {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 78px;
  padding-bottom: 50px;
  font-family: Raleway;
}

.cover__description-text {
  max-width: 633px;
  width: 100%;
  min-height: 28px;
  font-family: Raleway;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 372px;
  word-spacing: 15px;
  display: inline;
  
}

.bet-button {
  width: 300px;
  min-height: 52px;
  margin-right: 50px;
  padding: 12px 32px;
  color: white;
  font-family: Raleway;
  font-size: 22px;
  text-transform: uppercase;
  background: transparent;
  border: 1px solid #FFF;
  display: inline;
  
}

.lots {
  margin-top: 200px;
}

.lots__heading {
  margin-left: 40px;
  color: #000;
  font-family: Raleway;
  font-weight: 700;
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  text-transform: uppercase;

}

.lots__card-list {
  display: inline-flex;
  max-width: 1340px;
  margin-top: 30px;
  list-style: none;


}

.card {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 430px;
  min-height: 450px;
  margin-right: 30px;
  text-align: justify;
  background-size: cover;

}

.card .overlay {
  z-index: 0;
  width: 430px;
  height: 450px;
  margin-right: 25px;
}


.card__title {
  position: relative;
  z-index: 1;
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px;
  color: white;
  font-family: Raleway;
  font-weight: 400;
  font-weight: bold;
  font-size: 22px;
  line-height: 1.2;
  text-align: left;
  text-decoration: underline;
  text-decoration: none;
  text-transform: uppercase;
}

.card__text {
  position: relative;
  z-index: 1;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  color: aliceblue;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  text-align: left;
}

.card_type_film {
  background-image: url("../images/card-lot-01.jpg");
  background: no-repeat, center, cover;
 
}

.card_type_book {
  background-image: url("../images/card-lot-02.jpg");
  background: no-repeat, center, cover;
}

.card_type_picture {
  background-image: url("../images/card-lot-03.jpg");
  background: no-repeat, center, cover;
}

.lots__look-more-link {
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  font-size: 20px;
  cursor: pointer;
}

.about {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 10px;
  max-width: 1340px;
  min-height: 487px;
  margin-top: 125px;

}

.about__logo {
  display: flex;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin: 54px auto;
  border-radius: 50%;
  background-color: #000;
}

.about__logo-image {
  width: 148px;
  height: 114px;
  margin-top: 65px;
}

.about__title {
  max-width: 291px;
  width: 100%;
  min-height: 47px;
  margin-top: 154px;
  margin-left: 100px;
  font-weight: 700;
  font-size: 39px;
  text-transform: uppercase;

}

.about__text-first {
  max-width: 885px;
  width: 100%;
  min-height: 96px;
  margin-top: 100px;
  margin-left: 100px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.about__text-second {
  flex-shrink: 0;
  max-width: 885px;
  width: 100%;
  min-height: 119px;
  margin-top: 40px;
  margin-left: 100px;
  color: #000;
  font-family: Raleway;
  font-weight: 400;
  font-size: 20px;
  font-style: normal;
  line-height: normal;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1340px;
  min-height: 97px;
  margin-top: 250px;
  margin-bottom: 100px;
  margin-left: 51px;
}


.footer__menu {
  display: grid;
  grid-template-columns: auto 100px auto;
  place-content: center space-between;
  max-width: 1340px;

}

.footer__menu-list-left {
  list-style: none;
}

.footer__menu-list-center {
  justify-items: center;
  width: 200px;
  text-align: center;
  list-style: none;

}

.footer__social-list-item {
  list-style: none;

}

.footer__social-list {
  display: flex;
  
}

.footer__social-list-item {
  display: inline-block;


}

.footer__social-icon {
  flex-shrink: 0;
  width: 100px;
  height: 48px;
}
